@use 'variables' as *
.banner-principal-decorativo
  &-1
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 20%
    left: -3%
    width: 20%
  &-2
    animation: float1 2.5s ease-in-out infinite alternate
    position: absolute
    top: 75%
    right: 44%
    width: 20%
  &-3
    animation: float1 2.5s ease-in-out infinite alternate
    position: absolute
    top: 6%
    right: 10%
    width: 20%
@keyframes float1
  0%
    transform: translateY(20px)
  100%
    transform: translateY(0px)

.col-lg-7.col-xxl-5.ps-4.ps-sm-5.py-4.py-sm-5.banner-principal__info
  flex: 0 0 auto !important
  width: 58.33333333% !important
.banner-principal__row .banner-principal__img 
  width: 30%
     

.boton *, .boton--sm *,
.barra-avance__boton--regresar span
  color: $white !important
.banner-interno__titulo h1, .banner-interno__titulo h2, 
.banner-interno__titulo h3, .banner-interno__titulo h4, 
.banner-interno__titulo h5, .banner-interno__titulo h6
  color: $color-sistema-texto !important  
figcaption 
    font-weight: normal !important

.banner-interno__titulo__icono i
    color: $color-acento-botones !important


/**************************************************************/
/***CUSTOM STYLES***/
/**************************************************************/
.p-full-width
  padding: 3rem 3.5rem!important
.bg-full-width
  background-size: cover
  background-repeat: no-repeat
  background-position: bottom
  margin-inline: -3.3rem
.bg-fondo
  &-1
    background-image: url(../assets/curso/temas/bg/30.png)
    background-size: cover
    background-repeat: no-repeat
.bg-color
  &-1
    background-color: #EBEEEE !important
  &-2
    background-color: #FFF6EE !important
  &-3
    background-color: #F4E9E8 
  &-4
    background-color: #F5F9FD
  &-5
    background-color: #FEDDBB
  &-6
    background-color: #D9E6F7
  &-7
    background-color: #A4CB98
  &-8
    background-color: #FDAA56
  &-9
    background-color:  #B2BCBC


.bg-color-primario
  background-color: $color-primario
.bg-color-secundario
  background-color: $color-secundario
.bg-color-acento-contenido
  background-color: $color-acento-contenido

.subt
  display: flex
  align-items: center
  position: relative  
  width: fit-content  
  img
    width: 60px
    z-index: 1
  h3 
    z-index: 1
  &::before
    content: ''
    position: absolute
    background-color: #FDAA56 
    border-radius: 100px
    width: 100%
    height: 70%
    z-index: 0

.w-80x
  width: 80px
.tarjeta-numerada.color-adicional-1 
  border-color: $color-adicional-1
  .tarjeta-numerada__numero 
    background-color: $color-adicional-1
.tabla-a
  .color-acento-contenido 
    thead 
      background-color: #F5F9FD
      th
        text-align: start
  &.d2
    thead 
      background-color: #A1C0EC
      th
        text-align: center
    tr:nth-child(2n)
      background-color: #EBEEEE
.slyder-f__btn i
  color: $color-acento-botones
.slyder-f.fw 
  .slyder-f__btn i
    color: #F4E9E8
.acordion
  &__activo
    background-color: #FFF6EE
  &__accion__btn--b
    background-color: $color-acento-botones
    border-color: $color-acento-botones
    i
      color: $white
.tabs-c
  &__header .tabs-c__tab--active 
    background-color: $white
    span
      font-weight: 600
  &__tab
    background-color: #EBEEEE
.linea-tiempo-d
  &__item--selected
    .tarjeta
      background-color: #F4E9E8
  &__item__number
    background-color: #B2BCBC
  &__item__content
    background-color: #B2BCBC
.tarjeta--boton.bg-color-9:hover
  background-color: #FEDDBB
  cursor: inherit
.tarjeta--boton.bg-color-1:hover
  background-color: #FEDDBB
  cursor: inherit
.tabs-a__tab
  background-color: #F4E9E8
.tarjeta-audio.color-secundario
  .tarjeta-audio__texto
    color: $color-sistema-texto
    font-style: inherit !important
    font-weight: normal

.tarj-con1
  .avatar
    position: absolute
    bottom: 0
    right: -23rem
    z-index: 1
    @media (max-width: 1000px)
      display: none
  .crd--avatarHorizontal
    position: relative
    padding-right: 12rem
    & > *
      position: relative
    p
      margin-bottom: 0
    &::before
      position: absolute
      content: ''
      top: 0
      right: 0
      width: calc( 100% - 60px)
      height: 100%
      background-color: #FFF6EE
    @media (max-width: 1000px)
      padding-right: 2rem
  .crd--first
    &::before
      border-top-left-radius: 30px
      border-top-right-radius: 30px
      background-color: #EBEEEE
  .crd--last
    &::before
      border-bottom-left-radius: 30px
      border-bottom-right-radius: 30px
      background-color: #FFF6EE 
  .crd--third
    &::before
      background-color: #EBEEEE
.tarj-con2
  .avatar
    position: absolute
    bottom: 0
    right: -24rem
    z-index: 1
    @media (max-width: 1000px)
      display: none
  .crd--avatarHorizontal
    position: relative
    padding-right: 12rem
    & > *
      position: relative
    p
      margin-bottom: 0
    &::before
      position: absolute
      content: ''
      top: 0
      right: 0
      width: calc( 100% - 60px)
      height: 100%
      background-color: #FFF6EE
    @media (max-width: 1000px)
      padding-right: 2rem
  .crd--first
    &::before
      border-top-left-radius: 30px
      border-top-right-radius: 30px
      background-color: #EBEEEE
  .crd--last
    &::before
      border-bottom-left-radius: 30px
      border-bottom-right-radius: 30px
      background-color: #EBEEEE
  .crd--third
    &::before
      background-color: #EBEEEE


/**************************************************************/
/*Media Queries*/  
/**************************************************************/
@media screen and (min-width: $bp-min-xl)
  .img-infografica__card
    width: 500px !important
    .tarjeta
      border-radius: 500px
  .col-lg-d5
    flex: 0 0 auto !important
    width: 20% !important

//// DESKTOP SMALL 1400--------------------------------------
@media screen and (max-width: $bp-min-xxl)
  .mb-cus
    margin-bottom: 2em  !important 

//// TABLET 992--------------------------------------
@media screen and (max-width: $bp-max-md)
  .mb-cus
    margin-bottom: 2em  !important  
  .col-lg-7.col-xxl-5.ps-4.ps-sm-5.py-4.py-sm-5.banner-principal__info
    width: 90% !important
  
//// TABLET MINI 768--------------------------------------
@media screen and (max-width: $bp-min-md)
  .mb-cus
    margin-bottom: 2em  !important    
  .subt::before
    height: 92%
    z-index: 0

//// MOBILE 576--------------------------------------
@media screen and (max-width: $bp-min-sm)
  .mb-cus
    margin-bottom: 2em  !important
  .subt::before
    height: 97%
    z-index: 0

  
 